.content > canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#smoke2Canvas {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(41, 41, 41);
}

#flareIMG {
    position: absolute;
    left: calc(50% - 15px);
    width: 30px;
    top: calc(50% - 5px);
    transition-duration: 1s;
}

.colorSelector {
    display: flex;
    flex-direction: row;
}

.colorRadio {
    border: none;
    background-color: black;
    border-radius: 50%;
    width: 2vmin;
    height: 2vmin;
    padding: 0.5vmin;
    margin: 0 0.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio]{
    appearance: none;
    margin: 0;
    height: 100%;
    width: 100%;
}

.cyan {
    background: #00bcbc;
}
.pink {
    background: #bc00bc;
}
.red {
    background: #bc0000;
}
.orange {
    background: #ff8e00;
}
.yellow {
    background: #bcbc00;
}
.green {
    background: #00bc00;
}
.blue {
    background: #0000bc;
}